<div class="conteiner-verificacao">
  <div class="cartao-verificacao">
    <div class="cabecalho-verificacao">
      <div class="envoltorio-icone">
        <i class="fa-solid fa-envelope-circle-check"></i>
      </div>
      <h1>Verifique seu e-mail</h1>
      <p>Enviamos um código de 6 dígitos para:</p>
      <span class="email-destino">{{ email }}</span>
    </div>

    @if (erro) {
      <div class="mensagem-erro">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{ erro }}
      </div>
    }

    @if (mensagem) {
      <div class="mensagem-sucesso">
        <i class="fa-solid fa-circle-check"></i>
        {{ mensagem }}
      </div>
    }

    <div class="secao-codigo">
      <label>Código de verificação</label>
      <input
        type="text"
        class="entrada-codigo"
        [(ngModel)]="codigo"
        (input)="aoDigitarCodigo($event)"
        placeholder="000000"
        maxlength="6"
        autofocus
      />
    </div>

    <button
      class="botao-verificar"
      (click)="verificarCodigo()"
      [disabled]="verificando || codigo.length !== 6"
    >
      @if (verificando) {
        <i class="fa-solid fa-spinner fa-spin"></i> Verificando...
      } @else {
        <i class="fa-solid fa-check"></i> Verificar
      }
    </button>

    <div class="secao-reenviar">
      <p>Não recebeu o código?</p>
      <button
        class="botao-reenviar"
        (click)="reenviarCodigo()"
        [disabled]="reenviando"
      >
        @if (reenviando) {
          <i class="fa-solid fa-spinner fa-spin"></i> Reenviando...
        } @else {
          <i class="fa-solid fa-rotate-right"></i> Reenviar código
        }
      </button>
    </div>

    <a routerLink="/registro" class="link-voltar">
      <i class="fa-solid fa-arrow-left"></i> Voltar ao cadastro
    </a>
  </div>
</div>
