#topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logo{
    display: flex;
    margin-left: 120px;
    background-color: white;
    border: 1px solid red;
}
#login{
    border: 1px solid red;
    padding: 10px;
    margin-right: 100px;
    
}
#login button{
    margin-left: 15px;
}